<nav class="bg-gray-800 p-4">
  <ul class="flex space-x-4">
    <li><a class="text-white" href="/">Home</a></li>
    <li><a class="text-white" href="/contact">Contact</a></li>
    <li><a class="text-white" href="/about">About</a></li>
  </ul>
</nav>
