<!-- navbar section -->
    <nav class="w-full h-20 bg-indigo-200 flex justify-between px-4 items-center md:px-8">
        <div>
            <img class="w-16 h-16 rounded-full" src="https://images.pexels.com/photos/301920/pexels-photo-301920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <ul id="hContent" class="md:flex hidden font-semibold">
            <li class="mx-[10px] cursor-pointer "><a href="/">Home</a></li>
            <li class="mx-[10px] cursor-pointer "><a href="/contact">Contact Us</a></li>
            <li class="mx-[10px] cursor-pointer "><a href="/about">About Us</a></li>
        </ul>
        <div class="flex">
            <div class="hidden md:block p-2 bg-indigo-700 text-white rounded-lg cursor-pointer mr-4"><a href="/login">Login</a></div>
            <div class="hidden md:block p-2 bg-indigo-700 text-white rounded-lg cursor-pointer"><a href="/signin">Signin</a></div>
        </div>
        <div id="btn" class="md:hidden"><a class="text-4xl" href="#">&#8801;</a></div>
    </nav>
    <!-- shows element on button click on navbar -->
    <div id="mob" class="absolute md:hidden hidden justify-center bg-slate-500 bg-opacity-50 items-center w-full">
        <ul class="flex justify-center items-center flex-col font-semibold w-full">
            <li class="mx-[10px] cursor-pointer border-b border-white w-full text-center pt-2 pb-2 mb-2">Home</li>
            <li class="mx-[10px] cursor-pointer border-b border-white w-full text-center pb-2 mb-2">Contact Us</li>
            <li class="mx-[10px] cursor-pointer border-b border-white w-full text-center pb-2">About Us</li>
        </ul>
    </div>
    <!-- navbar section ends here -->